footer{
    background-color: rgb(6, 5, 58);
    margin-top: 30px;
    color: whitesmoke;
    padding-bottom: 20px;
}
.head{
    text-align: left;
}
footer h2{
    text-align: left;
}
.link ul{
    text-align: left;
    margin: 0;
    padding: 0;

}
.link a{
    padding-left: 10px;
}
.location{
    text-align: left;
}

.location span{
    padding: 5px;
}